<launch>


<include file="$(find openni2_launch)/launch/openni2.launch" />

  <node pkg="ras_object_detect" type="object_detector" name="object_detection_tune" >
  </node>

  <node pkg="ras_object_detect" type="shape_detector" name="shape_detection" >
  </node>

  <node pkg="ras_object_detect" type="collect_av_info" name="objinfo" >
  </node>

</launch>
